@model HocMay.Models.ThongSo
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhập thông số</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 80%;
            margin: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
            text-align: left;
        }

        button {
            margin-top: 10px;
            padding: 10px;
        }

        .result {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ddd;
        }

        input[type="number"], select {
            width: 80%;
            height: 40px;
            padding: 8px;
            box-sizing: border-box;
            font-size: 16px;
        }
    </style>
</head>
@{
    var parameterNames = new string[]
    {
        "OverallQual","GrLivArea","GarageCar","GarageArea","FullBath",
    "YearBuilt","YearRemodAdd","BsmtQual","TotalBsmtSF","ExterQual"
    };
}
<body>
    <div class="container">
        <h2>Dự đoán giá nhà</h2>
        <form asp-action="Index" method="post" enctype="multipart/form-data">
            <table id="parameterTable">
                <thead>
                    <tr>
                        <th>Tên Tham Số</th>
                        <th>Giá Trị</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@parameterNames[0]</td>
                        <td>
                            <select name="Thongso_1" value="@Model.Thongso_1">
                                <option value="10" selected="@(Model.Thongso_1 == 10)">10</option>
                                <option value="9" selected="@(Model.Thongso_1 == 9)">9</option>
                                <option value="8" selected="@(Model.Thongso_4 == 8)">8</option>
                                <option value="7" selected="@(Model.Thongso_4 == 7)">7</option>
                                <option value="6" selected="@(Model.Thongso_4 == 6)">6</option>
                                <option value="5" selected="@(Model.Thongso_4 == 5)">5</option>
                                <option value="4" selected="@(Model.Thongso_4 == 4)">4</option>
                                <option value="3" selected="@(Model.Thongso_4 == 3)">3</option>
                                <option value="2" selected="@(Model.Thongso_4 == 2)">2</option>
                                <option value="1" selected="@(Model.Thongso_4 == 1)">1</option>
                            </select>
                        </td>
                    </tr>
                    @for (int i = 2; i <= 10; i++)
                    {
                        <tr>
                            <td>@parameterNames[i - 1]</td>
                            <td><input type="number" name="Thongso_@i" value="@Model.GetType().GetProperty($"Thongso_{i}").GetValue(Model, null)" /> feet</td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="submit" style="width:100%">Xem dự báo</button>
        </form>

        <div class="result" id="result">
           Giá nhà dự kiến của bạn là: @Model.SalePrice
        </div>
    </div>
</body>
</html>